---
layout: default
title: Home
---

<p>Hi, my name is Veer. I study math and computer science at the University of British Columbia and am currently a summer intern at Amazon. <br> I mostly spend my free time working on projects, puzzles, reading textbooks and exploring languages (both programming and real). </p>
<h3> Reach me:</h3>
<p>Github: <a href="https://github.com/veerbia">veerbia</a> <br> Linkedin: <a href="https://linkedin.com/in/veerbhatia">veerbhatia</a> <br> Email: <a href="mailto:aveerbia@gmail.com">aveerbia@gmail.com</a> <br></p>

{% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}
